.menu__header {
	align-items: flex-start;
}

.collapse {
	width: 50px;
}

.logo {
	width: 50px;
	display: none;
}
.display {
	display: none;
}

@media only screen and (min-width: 992px) {
	.menu__header {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 50px 0;
	}
	.logo {
		display: block;
		order: -1;
	}
	.collapse {
		display: none;
	}
}
